<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="widthPx()" [attr.height]="heightPx()"
  [attr.viewBox]="'0 0 ' + widthPx() + ' ' + heightPx()"
  class="page"
  [class.colorCoded]="colorCoded()"
  >
  <!-- common styles -->
  <defs>
    <style>
      .header {
        font-weight: bold;
        fill: #222;
        alignment-baseline: middle;
        font-size: {{headerFontSize()}}px;
      }

      .row-label {
        font-weight: bold;
        fill: #333;
      }

      .bench {
        width: {{ ridersPerBench() * seatDiameter() }}px;
        height: {{ seatDiameter() }}px;
        rx: {{ seatRadius() / 4 }}px;
        ry: {{ seatRadius() / 4 }}px;
        stroke: black;
        fill: none;
      }

      g.unoccupied {
        opacity: .3;
      }

      g.unavailable {
        opacity: .1;
      }

      #index text {
        font-weight: bold;
        fill: #222;
        font-size: {{indexFontSize()}}px;
      }
    </style>
  </defs>

  <!-- Title -->
  <text
    [attr.x]="marginPx()"
    [attr.y]="marginPx()"
    text-anchor="start"
    class="header"
  >
    {{ title() }}
  </text>

  <!-- Subtitle -->
  <text
    [attr.x]="widthPx() - marginPx()"
    [attr.y]="marginPx()"
    text-anchor="end"
  >
    Created: {{ now() | date:'shortDate' }}
  </text>

  <g id="diagram">
    @for (letter of rowSeatNames(); track letter) {
      @let side = $index < ridersPerBench() ? 'left' : 'right';
      @let x = side === 'left'
        ? centerX() - benchWidth() + (seatDiameter() * $index)
        : centerX() + (seatDiameter() * ($index - ridersPerBench() + 1));

      <text
        [attr.x]="x"
        [attr.y]="headerHeight() + marginPx() - seatRadius()/2"
        text-anchor="middle"
        class="header"
      >
        {{ letter }}
      </text>
    }

    @for (row of [].constructor(rows()); track $index) {
      @let rowIndex = $index;
      @let cy = marginPx() + headerHeight() + seatRadius() + rowIndex * (rowSpacingPx() + seatDiameter());

      <!-- Left row label -->
      <text
        [attr.x]="centerX() - benchWidth() - seatRadius() * 1.25"
        [attr.y]="cy"
        text-anchor="end"
        class="header"
      >
        {{ rowIndex + 1 }}
      </text>

      <!-- Right row label -->
      <text
        [attr.x]="centerX() + benchWidth() + seatRadius() * 1.25"
        [attr.y]="cy"
        text-anchor="start"
        class="header"
      >
        {{ rowIndex + 1 }}
      </text>

      @for (bench of [].constructor(benchesPerRow()); track $index) {
        @let benchIndex = $index;
        @let baseX = benchIndex === 0 ? centerX() - benchWidth() : centerX() + seatDiameter();

        <!-- Bench -->
        @if (shortRearBench() && benchIndex === 0 && rowIndex === rows() - 1) {
          <!-- cx should be the center of the short bench (the short bench is half the width of the normal bench) -->
          @let cx = baseX + benchWidth() / 4 - seatRadius();
          @let seatId = (rowIndex + 1) + rowSeatNames()[benchIndex * ridersPerBench()];
          @let assignment = seatAssignments()[seatId];
          @let rider = assignment ? students()[assignment] : null;
          @let label = assignment === undefined ? '❌' : rider?.displayName ?? seatId;
          @let tooltip = rider ? rider.displayName + '\nseat ' + seatId + '' : seatId;

          <rect
            [attr.x]="baseX - seatRadius()"
            [attr.y]="cy - seatRadius()"
            class="bench"
            [style.width]="benchWidth() / 2 + 'px'"
          />
          <g
            [attr.transform]="'translate(' + cx + ',' + cy +')'"
            busSeat [label]="label" [size]="seatDiameter()"
            [class.unoccupied]="assignment === null"
            [class.unavailable]="assignment === undefined"
            (click)="seatClick.emit({ seatId: seatId, rider: assignment })"
            [title]="tooltip"
            [class.hasHousemates]="rider ? housemateIndex()[rider.id]?.length ?? 0 > 0 : false"
            [class.k]="rider ? rider.grade === 'K' : null"
          >
            <title>{{ tooltip }}</title>
          </g>
        } @else {
          <rect
            [attr.x]="baseX - seatRadius()"
            [attr.y]="cy - seatRadius()"
            class="bench" />

          @for (seat of [].constructor(ridersPerBench()); track $index) {
            @let benchSeatIndex = $index;
            @let seatIndex = benchSeatIndex + (benchIndex * ridersPerBench());
            @let cx = baseX + benchSeatIndex * seatDiameter();
            @let seatId = (rowIndex + 1) + rowSeatNames()[seatIndex];
            @let assignment = seatAssignments()[seatId];
            @let rider = assignment ? students()[assignment] : null;
            @let label = assignment === undefined ? '❌' : rider?.displayName ?? seatId;
            @let tooltip = rider ? rider.name + '\ngrade: ' + rider.grade + '\nhousemates: ' + (housemateIndex()[rider.id]?.join(', ') ?? '') : seatId;

            <g
              [attr.transform]="'translate(' + cx + ',' + cy +')'"
              busSeat [label]="label" [size]="seatDiameter()"
              [class.unoccupied]="assignment === null"
              [class.unavailable]="assignment === undefined"
              (click)="seatClick.emit({ seatId: seatId, rider: assignment })"
              [title]="tooltip"
              [class.hasHousemates]="rider ? housemateIndex()[rider.id]?.length ?? 0 > 0 : false"
              [class.k]="rider ? rider.grade === 'K' : null"
            >
              <title>{{ tooltip }}</title>
            </g>
          }
        }
      }
    }
  </g>

  <g id="index">
    @let baseY = marginPx() + headerHeight() - seatRadius()/2;
    @for (entry of riderIndex(); track entry[0]) {
      @let index = $index;
      @let y = baseY + index * (indexFontSize() * 1.2);
      <text
        [attr.x]="widthPx() - marginPx() - indexWidthPx() + 10"
        [attr.y]="y"
        text-anchor="start"
      >
        {{ entry[0] }}:
      </text>
      <text
        [attr.x]="widthPx() - marginPx()"
        [attr.y]="y"
        text-anchor="end"
      >
        {{ entry[1] }}
      </text>
    }
  </g>
</svg>
