:host {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.form {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: .5rem;

  h2 {
    margin-top: 0;
  }
}

.roster {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  cursor: pointer;

  &.selected {
    font-weight: bold;
  }
}
